# Local development configuration. Do not put service-account keys in this file.
WEATHER_LATITUDE=13.945583
WEATHER_LONGITUDE=100.716417
WEATHER_TIMEZONE=auto
WEATHER_HOURLY_GCS_OUTPUT_URI=gs://data-low-cost/Final Data/hourly_weather.parquet
WEATHER_CURRENT_GCS_OUTPUT_URI=gs://data-low-cost/Final Data/current_weather.parquet